doctype xml
rdf:RDF(
	xml:lang='ja',
	xmlns='http://purl.org/rss/1.0/',
	xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#',
	xmlns:atom='http://www.w3.org/2005/Atom',
	xmlns:dc='http://purl.org/dc/elements/1.1/'
)
	- var url =  site.url + 'blog/feed.rss';
	channel(rdf:about=url)
		title= site.title
		link= site.url + 'blog/'
		description プログラムやウェブ制作についての情報を配信しています。
		atom:link(href=url, rel='self', type='application/rss+xml')
		atom:link(rel='hub', href='http://pubsubhubbub.appspot.com/')
		items
			rdf:Seq
				each item in collections.posts
					rdf:li(rdf:resource=site.url + item.path)/

	each item in collections.posts
		item(rdf:about=site.url + item.path)
			title= item.title
			link= site.url + item.path
			if item.description
				description= item.description
