- var page_author = author ? author : site.author
- var page_title = title === site.title ? '' : title + ' | '
- var og_type = title === site.title ? 'website' : 'article'
- var canonical = site.url + path

meta(charset='utf-8')

title(page-title)= page_title + site.title

meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='fragment', content='!')

//- URL Base
base(href='/')

//- Data
meta(name='author', content=page_author)
meta(name='description', content=description)
link(rel='canonical', href=canonical)

//- OGP
meta(property='og:type', content=og_type)
meta(property='og:site_name', content=site.title)
meta(property='og:locale', content='ja_JP')
meta(property='og:url', content=canonical)
meta(property='og:title', content=title)
meta(property='og:description', content=description)

//- Twitter Card
meta(name='twitter:card', content='summary')
meta(name='twitter:creator', content='@hbsnow')

//- Feed
- var feed_title = site.title + ' RSS update information'
link(rel='alternate', href='/blog/feed.rss', title=feed_title, type='application/rss+xml')

//- CSS
link(rel='stylesheet', href='/styles/preloader.inline.css', inline)
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700')
link(rel='stylesheet', href='/styles/main.css')
