block config
  -
    var isAmp = false

-
  // global variables
  var page = {
    canonical: urlJoin(site.url, posixPath),
    author: {
      name: (author && author.name) || site.author.name,
      twitter: (author && author.twitter) ||
        (author && author.hasOwnProperty('name')) ? '' : site.author.twitter
    },
    title: (title && title + ' | ' + site.name) || site.name,
    image: thumb || (image || Array.isArray(image) ? image[0] : image) || site.publisher.logo.image,
    type: (pagetype === 'BlogPosting' || pagetype === 'Review') ? 'article' : 'webpage'
  }

  // Attributes
  var attr = isAmp ? {
    html: {
      '⚡': ''
    }
  } : {
    head: {
      prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ' + page.type + ': http://ogp.me/ns/' + page.type + '#'
    }
  }

doctype html
html(lang='ja')&attributes(attr.html)
  head&attributes(attr.head)
    meta(charset='utf-8')

    link(rel='canonical' href=page.canonical)

    if hasAmp
      link(rel='amphtml' href=urlJoin(page.canonical, 'amp.html'))

    meta(name='viewport' content='width=device-width, minimum-scale=1, initial-scale=1')

    if feed && feed.hasOwnProperty('href')
      link(rel='alternate' type='application/atom+xml')&attributes(escape(feed))

    link(rel='author' href='/assets/humans.txt')
    //- link(rel=manifest href=/assets/manifest.json)
    //- link(rel='icon' href='/assets/favicon.ico')
    link(rel='apple-touch-icon' sizes='180x180' href='/assets/apple-touch-icon.png')

    meta(name='author' content=page.author.name)

    if description
      meta(name='description' content=description)

    if tags
      meta(name='keywords' content=tags)

    title= page.title

    include common/head/jsonld.pug

    block head

  body
    .layout
      header.layout__header
        .header#header
          h1.header__title hbsnow

      main.layout__main
        .main
          block main
            include common/main.pug

      nav.layout__menu
        .menu#menu
          .menu__icon#menu-icon
            a.menu__link(href='/about/')
              .svg-icon.svg-icon--light
                include ./svg/about.svg

      nav.layout__nav
        .nav#nav
          .nav__icon#nav-icon
            a.nav__link(href='/')
              .svg-icon.svg-icon--light.svg-icon--nav
                include ./svg/arrow.svg

      footer.layout__footer
        .footer#footer
          .footer__sns
            .container
              .sns
                .sns__item
                  a.sns__link(href='https://github.com/hbsnow')
                    .sns__icon
                      .svg-icon.svg-icon--light
                        include ./svg/github.svg
                    .sns__name @hbsnow
                .sns__item
                  a.sns__link(href='https://twitter.com/hbsnow')
                    .sns__icon
                      .svg-icon.svg-icon--light
                        include ./svg/twitter.svg
                    .sns__name @hbsnow

    block foot

