extends common/base.pug

block head
  //- Twitter Cards
  meta(name='twitter:card' content='summary')
  if page.author.twitter
    meta(name="twitter:creator" content=page.author.twitter)

  //- Facebook Open Graph
  meta(property='og:title' content=page.title)
  meta(property='og:type' content=page.type)
  meta(property='og:image' content=page.image)
  meta(property='og:url' content=page.canonical)
  meta(property='og:description' content=description)
  meta(property='og:site_name' content=site.name)

  //- JS
  script(async src='/sw.js')
  script(async src='/assets/js/main.js')

  //- CSS
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:700&text=hbsnow')
  link(rel='stylesheet' href='/assets/css/main.css')

block body
  .layout
    header.layout__header
      .header#header
        h1.header__title
          a.header__link(href='/') hbsnow

    main.layout__main
      .main
        block main
          include common/main.pug

    nav.layout__menu
      .menu#menu
        .menu__icon#menu-icon
          a.menu__link(href='/about/')
            .svg-icon.svg-icon--light
              include ./svg/about.svg

    nav.layout__nav
      .nav#nav
        .nav__icon#nav-icon
          a.nav__link(href='/')
            .svg-icon.svg-icon--light.svg-icon--nav
              include ./svg/arrow.svg

    footer.layout__footer
      .footer#footer
        .container
          .footer__items
            .footer__item.footer__item--contact
                p このサイト内の記事は #[a(href='/about/') hbsnow] が書いています。
                p 何かご意見がございましたら、#[a(href='https://github.com/hbsnow/website/issues') GitHub の Issue] までご連絡ください。

            .footer__item.footer__item--sns
              .sns
                .sns__item
                  a.sns__link(href='https://github.com/hbsnow')
                    .sns__icon
                      .svg-icon.svg-icon--light
                        include ./svg/github.svg
                    .sns__name @hbsnow

                .sns__item
                  a.sns__link(href='https://twitter.com/hbsnow')
                    .sns__icon
                      .svg-icon.svg-icon--light
                        include ./svg/twitter.svg
                    .sns__name @hbsnow

  .progress#progress
    include svg/progress.svg
