extends base.pug

block head
  //- Twitter Cards
  meta(name='twitter:card' content='summary')
  if page.author.twitter
    meta(name="twitter:creator" content=page.author.twitter)

  //- Facebook Open Graph
  meta(property='og:title' content=page.title)
  meta(property='og:type' content=page.type)
  meta(property='og:image' content=page.image)
  meta(property='og:url' content=page.canonical)
  meta(property='og:description' content=description)
  meta(property='og:site_name' content=site.name)

  //- JS
  //- script(async src='/sw.js')
  script(async src='/assets/js/main.js')

  //- CSS
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:700')
  link(rel='stylesheet' href='/assets/css/main.css')

block body
  .layout
    header.layout__header
      .header#header
        h1.header-title hbsnow

    main.layout__main
      .main
        block main
          include common/main.pug

    nav.layout__menu
      .menu#menu
        a.menu__link(href='/about/')
          img.icon(src='/assets/img/icons/about.svg' alt='About')

    nav.layout__nav
      .nav#nav
        .nav__icon#nav-icon
          a.nav__link(href='/')
            img.nav__image.icon(src='/assets/img/icons/arrow-white.svg' alt='back')

    footer.layout__footer
      .footer#footer
        .footer__copyright
          p © 2017 #[a(href="http://hbsnow.github.io") hbsnow]

        .footer__sns
          .sns
            .sns__item
              a.sns__link(href='https://twitter.com/hbsnow')
                img.sns__icon.icon(src='/assets/img/icons/twitter.svg' alt='Twitter')
            .sns__item
              a.sns__link(href='https://github.com/hbsnow')
                img.sns__icon.icon(src='/assets/img/icons/github.svg' alt='GitHub')

  .progress#progress
    include svg/progress.svg
